--find-links lib/
lib/ucapi-0.5.3.dev0+gd11cfea3f.d20260320-py3-none-any.whl
ucapi-framework==1.9.0b4
aiohttp==3.9.3
plexapi==4.17.2
plexwebsocket==0.0.14
pillow==11.1.0
pyee>=9.0
pydantic
packaging>=25.0